<div class="container-gral">
  <div class="tracking-in-contract-bck-bottom" style="width: 90%; font-size: 40px;">
    <label>4° A</label>
  </div>  
  <div class="text-focus-in" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img style="width: 85%;" src="assets/logo.png">
  </div>
  <div class="tracking-in-contract-bck-bottom" style="display: flex; justify-content: flex-end; width: 90%; font-size: 40px;">
    <label>Gauna Tomás</label>
  </div>
</div>